<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Document</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../assets/stylesheets/style.css">
		<link rel="stylesheet" href="../assets/stylesheets/reponsive.css">
		<link rel="stylesheet" href="../assets/font/themify-icons/themify-icons.css">
	</head>
	<body>
		<div class="container">
			<div id="header">
				<div class="logo">
					<img src="../assets/images/logo.png"></a>
				</div>
				<div class="menu">
					<i class="ti-menu"></i>
				</div>
				<div class="link-header">
						<li><a href="#">Home</a></li>
						<li><a href="#">About Us</a></li>
						<li><a href="#">clases</a></li>
						<li><a href="#">News</a></li>
						<li><a href="#">Contact	</a></li>
				</div>
				<div class='contact'>
					<i class='ti-mobile'></i>
					<a href='tel:+00 111 222 123445'>+00 111 222 123445</a>
				</div>
			</div>
			<div id="banner">
				<div class="group-social-network">
					<div class="ti-world"></div>
					<div class="ti-facebook"></div>
					<div class="ti-twitter"></div>
					<div class="ti-instagram"></div>
				</div>
				<div class="content-banner">
					<p class="title">Practice hard, play strong, pain is glory. ( Only For women )</p>
					<p class="repon">Solutions for moving better and feeling althier.</p>
					<button class="btn-start">Get Started</button>
				</div>
			</div>
			<div class="content">
				<div class="introduction">
					<div class="body-building">
						<div class="clasess">
							<div class="row-building">
								<h3>Body Building With Classic</h3>
								<p>Trained Achieve Your Goals</p>
							</div>
							<button class="btn-trained">$60*/M</button>
						</div>
						<div class="standard">
							<div class="row-building">
								<h3>Body Building With Standard</h3>
								<p>Trained under best trainers</p>
							</div>
							<button class="btn-trained">$120*/M</button>
						</div>
						<div class="premium">
							<div class="row-building">
								<h3>Body Building With Premium</h3>
								<p>Trained Day and Night</p>
							</div>
							<button class="btn-trained">$200*/M</button>
						</div>
					</div>
					<div class="about-us">
						<div class="content">
							<div class="title">
								<p>ABOUT US</p>
								<h3>Welcome to Bestrong</h3>
							<div class="border-title"></div>
							</div>
							<div class="subject">
								<p class="title-subject">From the moment you walk through the door you know Gym base is a unique place</p>
								<p class="content-subject">If you run a fitness gym, this is one slogan that can bring customers in. No one likes having to drive miles out of their way to go to the gym. 
									It is always easier to have a gym that is actually close to home. Your body hears everything that your mind says.</p>
							</div>
							<button type="submit">Read More</button>
						</div>
						<div class="pictures-about-us">
							<img src="../assets/images/welcome1" alt="" class="pic-welcome">
						</div>
					</div>
				</div>
			<div class="our-clasess">
				<div class="title-our-clasess">
					<h1>Our Clasess</h1>
					<p>If you run a fitness gym, this is one slogan that can bring customers in. No one likes having to drive miles out of their way to go to the gym. 
						It is always easier to have a gym that is actually close to home. Your body hears everything that your min</p>
				</div>
				<div class="pictures-clasess">
					<div class="columns">
						<div class="title-pictures-clasess">
							<p>Cardio Fitness</p>
						</div>
						<img src="../assets/images/Cardio-Fitness" alt="">
					</div>
					<div class="columns">
						<div class="title-pictures-clasess">
							<p>Advanced Gymnastic</p>
						</div>
						<img src="../assets/images/Advanced-Gymnastic" alt="">
					</div>
					<div class="columns">
						<div class="title-pictures-clasess">
							<p>Cycle Training</p>
						</div>
						<img src="../assets/images/body-building" alt="">
					</div>
				</div>
				<div class="pictures-clasess">
					<div class="columns">
						<div class="title-pictures-clasess">
							<p>Body Attack</p>
						</div>
						<img src="../assets/images/Body-Attack" alt="">
					</div>
					<div class="columns">
						<div class="title-pictures-clasess">
							<p>Yoga Pilates</p>
						</div>
						<img src="../assets/images/Yoga-Pilates" alt="">
					</div>
					<div class="columns">
						<div class="title-pictures-clasess">
							<p>Weight Lifting</p>
						</div>
						<img src="../assets/images/Weight-Lifting" alt="">
					</div>
				</div>
			</div>
			<div class="meet-our-team">
				<div class="title-meet-team">
					<h1>Meet Our Team</h1>
					<p>If you run a fitness gym, this is one slogan that can bring customers in. No one likes having to drive miles out of their way to go to the gym.
						 It is always easier to have a gym that is actually close to home. Your body hears everything that your min</p>
				</div>
				<div class="pictures-meet-team">
					<div class="body-building-team">
						<div class="groups-img">
							<img src="../assets/images/body-building" alt="">
						</div>
						<div class="content-groups-img">
							<h3>Higgins Emma</h3>
							<p>Body Bulding</p>
						</div>
						<div class="item-groups">
							<i class="ti-facebook"></i>
							<i class="ti-twitter"></i>
							<i class="ti-instagram"></i>
						</div>
					</div>
					<div class="fitness-couach">
						<div class="groups-img">
							<img src="../assets/images/welcome1" alt="">
						</div>
						<div class="content-groups-img">
							<h3>Katherine Robinson</h3>
							<p>Fitness Couach</p>
						</div>
						<div class="item-groups">
							<i class="ti-facebook"></i>
							<i class="ti-twitter"></i>
							<i class="ti-instagram"></i>
						</div>
					</div>
					<div class="personal-trainer">
						<div class="groups-img">
							<img src="../assets/images/welcome3" alt="">
						</div>
						<div class="content-groups-img">
							<h3>Skye Sorenson</h3>
							<p>Personal Trainer</p>
						</div>
						<div class="item-groups">
							<i class="ti-facebook"></i>
							<i class="ti-twitter"></i>
							<i class="ti-instagram"></i>
						</div>
					</div>
				</div>
				<button type="submit" class="btn-meet-team">see the whole team</button>
			</div>
			<div class="testmonials">
				<div class="title-test-monials">
					<h1>Testmonials</h1>
				</div>
				<div class="slide-testmonials">
					<div class="item-slide">
						<i class="ti-angle-left"></i>
					</div>
					<div class="content-slide">
						<p id="reviews">Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
							 sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero</p>
					</div>
					<div class="item-slide">
						<i class="ti-angle-right"></i>
					</div>
				</div>
				<div class="info-client">
					<div class="image-client">
						<img src="../assets/images/welcome2" id="avatar-review" alt="">
					</div>
					<div>
						<h3 id="name-clients">ahmed elsayed</h3>
						<p>Our Client</p>
					</div>
					<div>
						<i class="ti-control-record icon-0 icon-slide"></i>
						<i class="ti-control-record icon-1"></i>
						<i class="ti-control-record icon-2"></i>
					</div>
				</div>
			</div>
			<div class="recent-news">
				<h1>Recent News</h1>
				<div class="list-news">
					<div class="info-news">
						<div class="img-news">
							<img src="../assets/images/news-1" alt="">
						</div>
						<div class="content-news">
							<h4>This Harvard Student Ran 70 Miles Back to College</h4>
							<p>Excepteur sint occaecat cupidatat non proident,
								 sunt in culpa qui officia deserunt mollit anim id est eopksio laborum. Sed ut perspiciatis.</p>
							<div class="time-news">
								<i class="ti-world">Long Name Here</i>
								<i class="ti-timer">1h ago</i>
							</div>
						</div>
					</div>
					<div class="info-news">
						<div class="img-news">
							<img src="../assets/images/news-2" alt="">
						</div>
						<div class="content-news">
							<h4>Female Boxers Describe What It’s Like to Take a Punch</h4>
							<p>Excepteur sint occaecat cupidatat non proident,
								 sunt in culpa qui officia deserunt mollit anim id est eopksio laborum. Sed ut perspiciatis.</p>
							<div class="time-news">
								<i class="ti-world">Long Name Here</i>
								<i class="ti-timer">1h ago</i>
							</div>
						</div>
					</div>
					<div class="info-news">
						<div class="img-news">
							<img src="../assets/images/news-3" alt="">
						</div>
						<div class="content-news">
							<h4>21 Top Fitness Blogs You Should Follow in 2021</h4>
							<p>Excepteur sint occaecat cupidatat non proident,
								 sunt in culpa qui officia deserunt mollit anim id est eopksio laborum. Sed ut perspiciatis.</p>
							<div class="time-news">
								<i class="ti-world">Long Name Here</i>
								<i class="ti-timer">1h ago</i>
							</div>
						</div>
					</div>
				</div>
				<button type="submit" class="btn-meet-team">See More News</button>
			</div>
			<div class="contact-us">
				<div class="contact-form">
					<h2>Contact Us</h2>
					<div class="form-mail">
						<form action="">
							<div class="form-groups">
								<input type="text" name="subject" list="subjectname" placeholder="Subject">
								<datalist id="subjectname">
									<option value="Body building">
									<option value="Body building 2">
								</datalist>
							</div>
							<div class="form-groups">
								<input type="text" name="email" placeholder="Email">
							</div>
							<div class="form-groups">
								<textarea type="text" name="messages" placeholder="write your messages here ..."></textarea>
							</div>
							<div class="form-groups">
								<button class="submit">Submit</button>
							</div>
						</form>
					</div>
					<div class="info-mail">
						<div class="details-contact">
							<p>email@example.com</p>
							<p>+002-010-66269735</p>
						</div>
						<div class="info-social-network">
							<i class="ti-facebook"></i>
							<i class="ti-twitter"></i>
							<i class="ti-instagram"></i>
						</div>
					</div>
				</div>
				<div class="image-contact">
					<img src="../assets/images/f5ea92370b9eb5dcd13f67cb3c0f0224" alt="">
				</div>
			</div>
		</div>
		<div id="footer">
			<div class="info-address">
				<div class="address-col-5">
					<div class="logo-footer">
						<img src="../assets/images/logo.png"></a>
					</div>
				</div>
				<div class="address-col-7">
					<div class="quick-contact">
						<h4>Quick Contacts</h4>
						<p>50 Raritan Center Pkwy, Edison, NJ 08837, USA</p>
						<div class="telephone">
							<i class="ti-mobile"></i>+00 111 222 1234
						</div>
						<div class="mail">
							<i class="ti-email"></i>Bestrong@gmail.com
						</div>
						<div class="info-social-network">
							<div class="item">
								<i class="ti-facebook"></i>
							</div>
							<div class="item">
								<i class="ti-twitter"></i>
							</div>
							<div class="item">
								<i class="ti-instagram"></i>
							</div>
						</div>
					</div>
					<div class="popular-tags">
						<h4>Popular Tags</h4>
						<div class="row-tag">
							<p>WORKOUT</p>
							<p>CROSSFIT</p>
							<p>SHEDULE</p>
						</div>
						<div class="row-tag">
							<p>TRAINERS</p>
							<p>BOXING</p>
							<p>SHEDULE</p>
						</div>
						<div class="row-tag">
							<p>NUTRITION</p>
							<p>GYM</p>
							<p>PLANS</p>
						</div>
					</div>
				</div>
			</div>
			<div class="link-footer">
				<div class="groups-link">
					<a href="#">Home</a>
					<a href="#">About Us</a>
					<a href="#">clases</a>
					<a href="#">News</a>
					<a href="#">Contact	</a>
					</ul>
				</div>
			</div>
			<div class="copyright">
				<p>©2019 Prelude by Gym-Co. All Rights Reserved</p>
			</div>
		</div>
	</body>
	<div class="modal">
		<form>
			<div class="col-modal">
				<h3 style="float:left;">Payment</h3>
				<i class="ti-close" style="float:right;color: red"></i>
				<label for="fname">Accepted Cards</label>
				<div class="icon-container">
					<i class="ti-credit-card" style="color:navy;"></i>
					<i class="ti-credit-card" style="color:blue;"></i>
					<i class="ti-credit-card" style="color:red;"></i>
					<i class="ti-credit-card" style="color:orange;"></i>
				</div>
				<label for="cname">Name on Card</label>
				<input type="text" id="cname" name="cardname" placeholder="John More Doe">
				<label for="ccnum">Credit card number</label>
				<input type="text" id="ccnum" name="cardnumber" placeholder="1111-2222-3333-4444">
				<label 	for="expmonth">Exp Month</label>
				<input type="text" id="expmonth" name="expmonth" placeholder="September">
				<label for="expyear">Exp Year</label>
				<input type="text" id="expyear" name="expyear" placeholder="2018">
				<label for="cvv">CVV</label>
				<input type="text" id="cvv" name="cvv" placeholder="352">
			</div>
			<label>
				<input type="checkbox" checked="checked" name="sameadr"> Shipping address same as billing
			</label>
			<input type="submit" value="Continue to checkout" class="btn">
		</form>
	</div>
</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="../assets/javascripts/application.js"></script>
</html>
